* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
}

/*header*/
header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(11, 11, 11, 0.7), rgba(0, 0, 0, 0.3)), url(img/hero.jpg);
  background-attachment: fixed;
}

h1 {
  color: #fff;
  font-size: 180%;
  font-weight: 200%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  color: lightgreen;
  background-color: rgba(12, 23, 0, 0.5);
}
.btn-full {
  background-color: rgba(23, 178, 44, 0.5);
}
.btn-ghost {
  background-color: rgba(22, 44, 166, 0.5);
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*change the toggel btn style cause change the default background of bootstrap*/
.icon-bar {
  border-color: #fee;
  background:#000;
}
button.navbar-toggle {
  border-color: #fff;
  background: radial-gradient(
              circle at top left,
              #dedede,
              #010101);
}

/*sticky nav*/

nav {
  z-index: 100;
}
.sticky {
  width: 100%;
  border-radius: 0;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  color: #555;
  background-color: rgba(0, 0, 0, 0.7);
}
.sticky .navbar-nav{
  margin-top: 0;
}
.sticky img {
  height: 50px;
  width: 50px;
}

/*sticky*/

.navbar {
  /*position: relative;*/
  /*background-color: none;*/
  /*background: lightgreen;*/
}
.navbar-nav {
  margin-top: 30px;
  text-transform: uppercase;
  margin-left: 50px;
}
.navbar-nav a {
  color: #fff;
}
.navbar-nav a:hover {
  color: #000;
  transition: all 0.5s;
}

ul.nav {
  float: right;
}
nav img {
  display: block;
  margin-top: -15px;
  height: 100px;
}

/*************/
/*section.features*/
/*************/

section.features {
  padding-top: 70px;
  text-align: center;
  font-weight: 0;

}

.h2-description {
  width: 70%;
  margin: 0px auto 80px;
  line-height: 145%;
}

section.features i {
  font-size: 210%;
  color: #e67e22;
}

section.features h3 {
  font-weight: 200;
}

section.features .col-sm-3 p {
  font-size: 85%;
}


/*section.meals */
section.meals {
  padding-top: 70px;
}

section.meals .meals-showcase {
  list-style: none;


}



.meals li {
  background: red;
  margin: 0 ;
  padding: 0 ;
}

.list-meal-photo {
  float: left;
  width: 25%;
}

.meal-photo {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  overflow: hidden;
}



.meal-photo img {
  width: 100%;
  /*padding: 0;
  margin: 0;*/
  transform: scale(1.3);
  transition: all 1s;
  opacity: 0.7;
}

.meal-photo img:hover {
  transform: scale(1);
  opacity: 1;

}

meals-showcase:last-of-type {
  margin-top: 0;
}

/*works*/
section.works {
  background: #fee;
  padding-top: 70px;
  padding-bottom: 50px;
}
.works h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2-decoration:after {
  content: "";
  width: 150px;
  height: 2px;
  background: #e44e22;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);

}
.app-screen {
  /*background: red;*/
  display: block;
  opacity: 0;
  width: 40%;
  margin-left: 50%;;
}

.works-step:first-of-type {
  margin-top: 40px;
}

.works-step{
  margin-bottom: 50px;
  font-size: 80%;
  width: 80%;
}
.number {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  /*display: table-cell;
  vertical-align: middle;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.works-step p {

  height: 50px;
  line-height: 20px;
  padding-top: 5px;
}

.app {
  margin-top: 100px;
}
.app img {
  height: 50px;
}

.cities {
  padding-top: 70px;
  padding-bottom: 50px;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cities img {
  opacity: 0;
  width: 100%;
}

.cities i {
  display: inline-block;
  width: 30px;
  color: #e67e22;
}

.cities span {
  font-size: 80%;
}


.comments {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
  color: #fff;
  background-attachment: fixed;
  padding-bottom: 50px;
  padding-top: 70px;
}

blockquote {
  font-style: italic;
  border: none;
}

blockquote p {
  margin-top: -40px;
  margin-left: 15px;
}
cite {
  font-size: 90%;

}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 400%;
}
cite img {
  height: 50px;
  border-radius: 50%;
}

/*PLANS */

section.plans {
  background: #f4f4f4;
  padding-bottom: 50px;
  padding-top: 70px;
}

.plan-box {
  background: #fefefe;
  margin: 0 auto;
  width: 90%;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 0 2px 2px #efefef;



}

.plan-box div {
  padding: 5px;
  border-bottom: 1px solid #efefef;
}
.plan-box div:last-child {
  border-bottom: none;
}

.plan-box ul {
  list-style: none;
  padding-left: 10px;
  font-size: 16px;
}



.plan-price {
  color: #e67e22;
  font-size: 300%;
  font-weight: 100px;
}
.plan-price span {
  font-size: 30px;
}
.plan-box i {
  color: #e76e22;
  display: inline-block;
  width: 25px;
  font-size: 20px;
}
.plan-btn {
  text-align: center;
}
.plan-btn a {
  display: inline-block;
  color: #e67e22;
  padding: 5px 20px;
  border: 1px solid #e67e22;
  border-radius: 20px;
  height: 40px;
}
.plan-btn a:hover {
  text-decoration: none;
  background: #e67e22;
  color: #fff;
}
.plan-box div:first-child {
  background: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan-price-meal {
  font-size: 17px;
}


.contact-form .row {
  width: 60%;
  margin: 0 auto;
  }

.contact-form .row label {
  font-weight: 300;
}

input[type="text"],
input[type=email],
select,
textarea {
  padding: 2px 0 2px 5px;

  width: 100%;

}
.form {
  padding-top: 70px;
  padding-bottom: 20px;
}

.contact-form .row {
  margin-top: 10px;
}

input[type=checkbox] {
  margin: 5px;
}

/*footer*/
footer {
  padding-top: 20px;
  font-size: 90%;
  background: #222;
}

footer .social-links {
  font-size: 140%;
}
footer ul {
  list-style: none;
}
footer ul li {

  float: left;
  padding: 5px 10px;
}
.social-links {
  float: right;
}
footer a {
  color: #888;

}
footer a:hover {
  text-decoration: none;
  color: #fff;

}


footer p {
  padding-top: 0px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #888;
}

.backTop {
  display: block;
  position: fixed;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ffeedd;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  /*background: rgba(11, 11, 11, 0.9);*/
  opacity: 0;
}
.backTop:link {
  text-decoration: none;
  color:  rgba(0, 0, 0, 0.5);
  background-color:#556;
}

/*small screen from 0 to 480px*/
@media only screen and (max-width: 480px) {
   body {
     font-size: 14px;
   }
   .navbar-brand img {
     width: 55px;
     height: 55px;
   }
}

@media only screen and (max-width: 1000px){
  .navbar {

  }
  .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
            text-align: right;

            /*width: 50%;*/
        }
        .navbar-nav>li:hover a {
          /*background: none;*/
          display: inline-block;
          /*margin-left: 50px;*/
        }
        .navbar-nav>li>a {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #000;
            background-color: #efe;
            width: 200px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }

        .plan-box {
          width: 90%;
        }
}
@media only screen and (max-width: 767px) {
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .app-screen {
    animation-duration: 0.01s;
    display: block;
    margin: 0 auto;
  }
  .works-step .number{
    margin-left: 85px;
  }

  .app {
    text-align: center;
  }

  .plan-box {

    width: 70%;
    margin: 10px auto;
  }
}
